<!-- Ficha Acerca de mi... -->
<div class="card mat-card" id="second-card">
  <div id="fichaAcercaDeMi" class="ficha">
    <h1 class="tituloFicha tituloAcercaDM">Acerca de mi...
      <span *ngIf="isLogged" (click)="open(contAltaParrafo)">
        <a href="#" class="btn-plus" title="Agregar Párrafo Acerca de mi..."
          ><i class="fas fa-plus-circle"></i>
        </a>
      </span>
    </h1>

    <!--
      <div class="btn-edit lapizALaDerecha" onclick="cambiar_parrafo()">
        <a href="#" class="btn-right">
          <i class="fa fa-pen"></i>
        </a>
      </div>
-->
    <!--
    </div>
    <div>
-->

    <div *ngFor="let parr of acerca; let i = index">
      <div *ngIf="i == 0; else mas_parrafos" id="contResumenAcercaDeMi">
        <p id="text-acercaDeMi-1" class="text-acercaDeMi">
          {{ parr.parrafo }}
        </p>
        <div *ngIf="isLogged" class="btn-edit lapizAlLado" (click)="formulario_parrafo(parr.idParrafo, contentAcerca)">
          <a href="#" class="btn-right" title="Modificar Resumen Sobre Mi..." >
            <i class="fa fa-pen"></i>
          </a>
        </div>
      </div>

      <ng-template #mas_parrafos>
        <div id="contParrafosAcercaDeMi" class="contParrafosAcercaDeMi">
          <div id="text-acercaDeMi-2" class="contIndividual-P">
            <p id="" class="text-P-acercaDeMi">
              {{ parr.parrafo }}
            </p>
            <div *ngIf="isLogged" class="btn-edit lapizAlLado" (click)="formulario_parrafo(parr.idParrafo, contentAcerca)">
              <a
                href="#"
                class="btn-right"
                title="Modificar Párrafo Sobre Mi..."
              >
                <i class="fa fa-pen"></i>
              </a>
            </div>
            <div *ngIf="isLogged" class="btn-delete lapizAlLado" (click)="cargar_borrar_parrafo(parr.idParrafo, contentBorrarParrafo)">
              <a href="#" class="btn-right" title="Eliminar Párrafo...">
                <i class="far fa-trash-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

  </div>
  <!--
    <div>
      <input
        id="edit-acercade"
        type="text"
        oninput="myFunction2(this.value)"
        style="display: none"
      />
    </div>
-->
</div>

<ng-template #contAltaParrafo let-modal>
  <app-form-acerca-de-alta></app-form-acerca-de-alta>
</ng-template>

<ng-template #contentAcerca let-modal>
  <!-- <app-form-mis-datos></app-form-mis-datos> -->
  <app-form-acerca-de></app-form-acerca-de>

</ng-template>

<ng-template #contentBorrarParrafo let-modal>
  <app-form-acerca-de-borrar></app-form-acerca-de-borrar>
</ng-template>
