<!-- Ficha Acerca de mi... -->
<div class="card mat-card" id="second-card">
    <div id="fichaAcercaDeMi" class="ficha">
      <h1 class="tituloFicha tituloAcercaDM">Acerca de mi...  </h1>
<!--
      <div class="btn-edit lapizALaDerecha" onclick="cambiar_parrafo()">
        <a href="#" class="btn-right">
          <i class="fa fa-pen"></i>
        </a>
      </div>
-->
<!--
    </div>
    <div>
-->
      <div id="contResumenAcercaDeMi">
        <p id="text-acercaDeMi-1" class="text-acercaDeMi">
          Entusiasta de la informática y profesor todavía sin ejercer.
        </p>
        <div class="btn-edit lapizAlLado" onclick="cambiar_parrafo()">
          <a href="#" class="btn-right" title="Modificar Resumen Sobre Mi...">
            <i class="fa fa-pen"></i>
          </a>
        </div>
      </div>

      <div id="contParrafosAcercaDeMi" class="contParrafosAcercaDeMi" >
        <div id="text-acercaDeMi-2" class="contIndividual-P">
          <p id="" class="text-P-acercaDeMi">
            Disfruto de programar, pero dentro de la programación tengo preferencia por el Backend,
            me gusta esa sensación que se tiene al conseguir que funcione algo que después de varios intentos probando 
            distintos códigos, aunque a veces puede ser frustrante tardar en conseguir esa solución.
          </p>
          <div class="btn-edit lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Modificar Párrafo Sobre Mi...">
              <i class="fa fa-pen"></i>
            </a>
          </div>
          <div class="btn-delete lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Eliminar Párrafo...">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>

        <div id="" class="contIndividual-P">
          <p id="" class="text-P-acercaDeMi">
            Me recibí de Profesor de Informática hace poco y todavía no comencé a ejercer, estoy haciendo cursos 
            para poder subir puntaje y empezar a realizar suplencias.
          </p>
          <div class="btn-edit lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Modificar Párrafo Sobre Mi...">
              <i class="fa fa-pen"></i>
            </a>
          </div>
          <div class="btn-delete lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Eliminar Párrafo...">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
        <div id="" class="contIndividual-P">
          <p id="" class="text-P-acercaDeMi">
            Otra cosa que disfruto, y comparto con mi novia, es viajar por mi pais (aunque también tengo ganas de conocer 
            Brasil), y disfrutar de las comidas tradicionales de cada provincia o ciudad. 
          </p>
          <div class="btn-edit lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Modificar Párrafo Sobre Mi...">
              <i class="fa fa-pen"></i>
            </a>
          </div>
          <div class="btn-delete lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Eliminar Párrafo...">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>

      </div>

    </div>
<!--
    <div>
      <input
        id="edit-acercade"
        type="text"
        oninput="myFunction2(this.value)"
        style="display: none"
      />
    </div>
-->
  </div>