<div class="contenedor transp" >
  <form action="" class="form" >
    <div class="form-header">
      <div class="barraSup">
        <label type="button" class="btn-cierre" (click)="getDismissReason('Boton de cierre')"><i class="fa-solid fa-circle-xmark" ></i></label>
      </div>
      <h1 class="form-title">Borrar Párrafo...</h1>
    </div>

    <label for="parrafo" class="form-label"><b>¿Quiere borrar el párrafo?:</b></label>
    <textarea type="text" id="parrafo" name="parrafo" class="form-input" disabled="true"
              cols="70" rows="10" > {{ acercaBorrar.parrafo }} </textarea>

    <input type="hidden" id="id_persona" name="id_persona" class="form-input"
          value="{{ idParrBorrar }}" [(ngModel)]="idParrBorrar" >

    <input type="submit" class="btn-submit" value="Borrar" (click)="borrar_parrafo()">
    <!-- <input type="submit" class="btn-warning" value="Cancelar" (click)="getDismissReason('Cancelar')"> -->

  </form>
</div>
