<div class="card mat-card" id="first-card">
  <div id="profile-background">
    <img src="./assets/img/slide_02.jpg" />
  </div>
  <div id="info" class="ficha">
    <div id="info-img">
      <img class="profile-image" src="./assets/img/MiFotoCirculo.png" />
      <div class="btn-edit btn-edit-foto">
        <a href="#" class="btn-right" title="Modificar Foto de Perfil"
          ><i class="fa fa-pen"></i
        ></a>
      </div>
    </div>
    <div class="limpiarFloat"></div>
    <div id="info-data" class="kcol-xl-4">
      <div>
        <h1 class="tituloFicha">Leandro Quipildor</h1>
        <div id="info-titulo">Programador | Profesor de Informática</div>
        <div id="info-company">Desempleado</div>
        <div id="info-contact">
          <span>Buenos Aires (Argentina)</span>
          <!--<span><a href="#">Información de contacto</a></span>-->
        </div>
      </div>
      <div class="btn-edit btn-edit-info">
        <a href="#" class="btn-right" title="Modificar mis Datos"
          ><i class="fa fa-pen"></i
        ></a>
      </div>
      
    </div>
    <div id="info-actions" class="">
      <button type="button" class="btn btn-primary">Contactarme...</button>
      <button type="button" class="btn btn-light">Añadir sección</button>
      <button type="button" class="btn btn-light">Más</button>
    </div>
  </div>
</div>
