<div class="card mat-card" id="first-card">
  <div id="profile-background">
    <!--<img src="./assets/img/slide_02.jpg" />-->
    <img src="{{ perso.urlBanner }}" />
  </div>
  <div id="info" class="ficha">
    <div id="info-img">
      <!--<img class="profile-image" src="./assets/img/MiFotoCirculo.png" />-->
      <img class="profile-image" src="{{ perso.urlFoto }}" />
      <div *ngIf="isLogged" class="btn-edit btn-edit-foto">
        <a href="#" class="btn-right" title="Modificar Foto de Perfil"
          ><i class="fa fa-pen"></i
        ></a>
      </div>
    </div>
    <div class="limpiarFloat"></div>
    <div id="info-data" class="kcol-xl-4">
      <div>
        <h1 class="tituloFicha">{{perso.nombre}} {{perso.apellido}}</h1>
        <div id="info-titulo">{{perso.titProfesional}}</div>
        <div id="info-company">{{perso.actividadActual}}</div>
        <div id="info-contact">
          <span>{{perso.ubicacion}}</span>
          <!--<span><a href="#">Información de contacto</a></span>-->
        </div>
      </div>
      <div *ngIf="isLogged" class="btn-edit btn-edit-info" (click)="open(content)">
        <a href="#" class="btn-right" title="Modificar mis Datos"
          ><i class="fa fa-pen"></i
        ></a>
      </div>

    </div>
    <div id="info-actions" class="">
      <button type="button" class="btn btn-primary" (click)="ngOnInit()">Contactarme...</button>
      <button type="button" class="btn btn-light">Añadir sección</button>
      <button type="button" class="btn btn-light" >Más</button>
    </div>

  </div>
</div>

<ng-template #content let-modal>

  <app-form-mis-datos></app-form-mis-datos>

</ng-template>
