<div class="contenedor transp" >
  <form action="" class="form" >
    <div class="form-header">
      <h1 class="form-title">Mis Datos</h1>
    </div>

    <label for="nombre" class="form-label">Nombre:</label>
    <input type="text" id="nombre" class="form-input" placeholder="Ingrese su Nombre">

    <label for="apellido" class="form-label">Apellido:</label>
    <input type="text" id="apellido" class="form-input" placeholder="Ingrese su Apellido">
<!--
    <label for="fecha-nac" class="form-label">Fecha de nacimiento:</label>
    <input type="text" id="fecha-nac" class="form-input" placeholder="Ingrese la Fecha de su nacimiento">
-->
    <label for="ubicacion" class="form-label">Ubicación:</label>
    <input type="text" id="ubicacion" class="form-input" placeholder="Ingrese de donde es">

    <label for="titulo" class="form-label">Título:</label>
    <input type="text" id="titulo" class="form-input" placeholder="Ingrese un título para usted">

    <label for="actividad" class="form-label">Actividad Actual:</label>
    <input type="text" id="actividad" class="form-input" placeholder="Ingrese su Actividad Actual">


    <input type="submit" class="btn-submit" value="Guardar">


  </form>
</div>
