<!-- Ficha Educación -->
<div class="card mat-card" id="fourth-card">
  <div id="fichaEducacion" class="ficha">
    <h1 class="tituloFicha tituloEducacion">
      Educación
      <span *ngIf="isLogged" (click)="open(contAltaEduc)">
        <a *ngIf="isLogged" href="#" class="btn-plus" title="Agregar Lugar de Educación/Título"
          ><i class="fas fa-plus-circle"></i
        ></a>
      </span>
    </h1>

    <!--{{ listaEducacion | json }}-->

    <div id="contBloquesEducacion" class="contBloquesEducacion" *ngFor="let instituto of listaEducacion; let i = index" >
      <!--<button type="button" class="btn btn-warning" >  </button> -->
      <span *ngIf="i > 0"><hr class="separador-educacion" /></span>

      <div id="text-educacion-2" class="contIndividual-educacion">
        <div class="contInfo-educacion grow1_ col-sm-9">
          <h5 id="" class="nombreInstituto-educacion"> {{ instituto.nombreInstit }} </h5>
          <div class="fechas-educacion"> {{ instituto.fechaInicio }} -
            <span *ngIf="instituto.fechaFin!=2999;else todavia">
              {{ instituto.fechaFin }} <!-- *** <b>{{ instituto.estado.descripcion }}</b> -->
            </span>
            <ng-template #todavia>
              Hasta el momento...  <!-- *** <b>{{ instituto.estado.descripcion }}</b> -->
            </ng-template>
          </div>

          <div class="titulo-educacion">
            <b>Título: </b> {{ instituto.titulo }}
          </div>
        </div>


        <div *ngIf="!imgNula(instituto.urlLogo); else sinimagen" class="contImg-educacion col-sm-2 centrar-h">
          <img src="{{ instituto.urlLogo }}" alt="Logo {{ instituto.nombreInstit }}" class="logoInstitutoEduc" />
        </div>

        <ng-template #sinimagen>
          <div class="contImg-educacion col-sm-2 centrar-h">
            <img src="{{ imgVacia }}" alt="Institución sin logo" class="logoInstitutoEduc" />
          </div>
        </ng-template>


        <div *ngIf="isLogged" class="contBtn-educacion col-sm-1 centrar-h">
          <div class="btn-edit lapizAlLado" (click)="openEditar(instituto.idEduc, contModifEduc)">
            <a href="#" class="btn-right" title="Modificar Datos Educativos...">
              <i class="fa fa-pen"></i>
            </a>
          </div>
          <div class="btn-delete lapizAlLado" (click)="openBorrar(instituto.idEduc, contBorrarEduc)">
            <a href="#" class="btn-right" title="Eliminar Datos de Educación..." >
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
      </div>

      <!--      <hr class="separador-educacion" />-->
    </div>

  </div>
</div>

<ng-template #contAltaEduc let-modal>
  <app-form-educacion-alta></app-form-educacion-alta>
</ng-template>

<ng-template #contModifEduc let-modal>
  <app-form-educacion-modif></app-form-educacion-modif>
</ng-template>

<ng-template #contBorrarEduc let-modal>
  <app-form-educacion-borrar></app-form-educacion-borrar>
</ng-template>
