<!-- Ficha Experiencia Laboral -->
<div class="card mat-card" id="third-card">
  <div id="fichaExpLaboral" class="ficha">
    <h1 class="tituloFicha tituloExpLaboral">
      Experiencia laboral
      <span *ngIf="isLogged" (click)="open(contAltaExp)">
        <a href="#" class="btn-plus" title="Agregar Lugar de Trabajo"
          ><i class="fas fa-plus-circle"></i
        ></a>
      </span>
    </h1>
   <!-- {{ listaExp | json }}-->

    <div *ngFor="let exp of listaExp; let i = index" id="contBloquesExpLab" class="contBloquesExpLab" >

      <div id="text-expLab-2" class="contIndividual-expLab">
        <div class="contInfo-expLab grow1_ col-sm-9">
          <h5 id="" class="nombreEmpresa-expLab">{{ exp.nombreEmp }}</h5>
          <div class="fechas-expLab">{{ exp.fechaIng }} - <span *ngIf="exp.fechaSalida;else todavia">{{ exp.fechaSalida }}</span>
            <ng-template #todavia>Hasta el momento...</ng-template>
          </div>
          <div class="descripcion-expLab">
            {{ exp.descripcion }}
          </div>
        </div>
        <div class="contImg-expLab col-sm-2 centrar-h">
          <img
            src="{{ exp.urlLogo }}"
            alt="Logo {{ exp.nombreEmp }}"
            class="logoExpLab"
          />
        </div>
        <div *ngIf="isLogged" class="contBtn-expLab col-sm-1 centrar-h">
          <div class="btn-edit lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Modificar Datos de Trabajo...">
              <i class="fa fa-pen"></i>
            </a>
          </div>
          <div class="btn-delete lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Eliminar Datos de Trabajo...">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<ng-template #contAltaExp let-modal>
  <app-form-exp-lab-alta></app-form-exp-lab-alta>
</ng-template>

<ng-template #contModifExp let-modal>
  <app-form-exp-lab-modif></app-form-exp-lab-modif>
</ng-template>

<ng-template #contBorrarExp let-modal>
  <app-form-exp-lab-borrar></app-form-exp-lab-borrar>
</ng-template>
