<!-- Ficha Experiencia Laboral -->
<div class="card mat-card" id="third-card">
  <div id="fichaExpLaboral" class="ficha">
    <h1 class="tituloFicha tituloExpLaboral">
      Experiencia laboral
      <a href="#" class="btn-plus" title="Agregar Lugar de Trabajo"
        ><i class="fas fa-plus-circle"></i
      ></a>
    </h1>
    <!--
      <div id="contResumenExpLab">
        <p id="text-acercaDeMi-1" class="text-acercaDeMi">
          Entusiasta de la informática y profesor todavía sin ejercer.
        </p>
        <div class="btn-edit lapizAlLado" onclick="cambiar_parrafo()">
          <a href="#" class="btn-right" title="Modificar Resumen Sobre Mi...">
            <i class="fa fa-pen"></i>
          </a>
        </div>
      </div>
-->

    <div id="contBloquesExpLab" class="contBloquesExpLab">
      <div id="text-expLab-2" class="contIndividual-expLab">
        <div class="contInfo-expLab grow1_ col-sm-9">
          <h5 id="" class="nombreEmpresa-expLab">Ro-Dubi SRL (Magika)</h5>
          <div class="fechas-expLab">2002 - 2018</div>
          <div class="descripcion-expLab">
            Trabajé como operario realizando tareas varias, especialmente de
            producción fabricando, armando y embalando distintos tipos de
            juguetes y carpetas.
          </div>
        </div>
        <div class="contImg-expLab col-sm-2 centrar-h">
          <img
            src="./assets/img/logo-magika-2.png"
            alt="Logo Magika"
            class="logoExpLab"
          />
        </div>
        <div class="contBtn-expLab col-sm-1 centrar-h">
          <div class="btn-edit lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Modificar Datos de Trabajo...">
              <i class="fa fa-pen"></i>
            </a>
          </div>
          <div class="btn-delete lapizAlLado" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right" title="Eliminar Datos de Trabajo...">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
        <!--
          <div class="contDer-expLab">

          </div>
        -->
      </div>
    </div>
  </div>
</div>
