<div class="contenedor transp" >
  <form action="agregar_exp_lab()" class="form" enctype="multipart/form-data">
    <div class="form-header">
      <div class="barraSup">
        <label type="button" class="btn-cierre" (click)="getDismissReason('Boton de cierre')"><i class="fa-solid fa-circle-xmark" ></i></label>
      </div>
      <h1 class="form-title">Agregar Experiencia Laboral...</h1>
    </div>

    <label for="nombreEmp" class="form-label">Nombre de la empresa:</label>
    <input type="text" id="nombreEmp" name="nombreEmp" class="form-input" placeholder="Ingrese el nombre de la empresa"
          value="" [(ngModel)]="expLab.nombreEmp" >

    <label for="fechaIng" class="form-label">Fecha de Ingreso:</label>
    <input type="number" placeholder="YYYY" min="1950" max="2050" id="fechaIng" name="fechaIng"
          class="form-input" value="{{ anioActual }}" [(ngModel)]="expLab.fechaIng">

    <label for="fechaSalida" class="form-label">Fecha de Salida:</label>
    <input type="number" placeholder="YYYY" min="1950" max="2050" id="fechaSalida" name="fechaSalida"
          class="form-input check-anterior" value="{{ anioActual }}" [(ngModel)]="expLab.fechaSalida" [disabled]="todaviaTrabajando">

    <div class="form-label check">
      <input type="checkbox" id="fechaTodavia" name="fechaTodavia" class="check-cuadro"
            [(ngModel)]="todaviaTrabajando" (change)="cambioDelCheck($event)" >
      <label class="check-texto">Todavía trabajando</label>
    </div>

    <label for="descripcion" class="form-label">Descripción:</label>
    <textarea type="text" id="descripcion" name="descripcion" class="form-input" placeholder="Ingrese una descripción de sus tareas"
              [(ngModel)]="expLab.descripcion" cols="100" rows="4" ></textarea>

    <label for="imagen" class="form-label">Logo de la empresa:</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input form-input margen-abajo-5" id="imagen" name="imagen" #imagenInputFile
            (change)="onFileChange($event)" accept="image/png, image/jpeg, image/gif">

    </div>
    <div *ngIf="imagen" class="mt-5_ cont-vista-previa">
      <h5 class="h5-formulario">Vista Previa:</h5>
      <div>
          <img class="image-thumbnail logoExpLab" [src]="imagenMin">
      </div>
    </div>

    <input type="submit" class="btn-submit" value="Guardar" (click)="agregar_exp_lab()">

  </form>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Subiendo imagen...</p>
</ngx-spinner>
