<div class="container contPP">
    
  <app-encabezado></app-encabezado>

  <app-mis-datos></app-mis-datos>

  <app-acerca-de></app-acerca-de>

  <app-exp-lab></app-exp-lab>

  <app-educacion></app-educacion>

  <app-habilidades></app-habilidades>

  <app-proyectos></app-proyectos>





    
        <!--<input type="file" id="file1" onChange="showFile(this)" />-->

<!-- Pie de página -->
    <div class="bottom section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="copyright">
              <p>© <span>2022</span> <a href="#" class="transition">Leandro Sebastian Quipildor</a> All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div><!-- Fin del contPP , está mal indentado  -->

<router-outlet></router-outlet>
