
<div class="contenedor" >
  <form action="" class="form" >
    <div class="form-header">
      <h1 class="form-title">Login</h1>
    </div>

    <label for="email" class="form-label">Email:</label>
    <input type="text" id="email" class="form-input" placeholder="Ingrese su E-mail">

    <label for="password" class="form-label">Contraseña:</label>
    <input type="password" id="password" class="form-input" placeholder="Ingrese su Contraseña">

    <input type="submit" class="btn-submit" value="Ingresar">


  </form>
</div>
