<!-- Menu superior comienzo -->
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark" id="menuSuperior">
    <div class="container-fluid">
      <a
        class="navbar navbar-brand"
        href="https://argentinaprograma.inti.gob.ar/"
        target="_blank"
      >
        <img
          src="./assets/img/ArgentinaPrograma_Logo-40Alto.png"
          alt="Logo Argentina Programa"
          class="d-inline-block align-text-top"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 navbar-right">
          <!--me-auto-->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>

          <li class="nav-item">
            <button type="button" class="btn btn-primary" (click)="modalServ.open(formLogin)">Login</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
              test modal
            </button>
          </li>
        </ul>

        <!--
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          -->
      </div>
    </div>
  </nav>
  <!--Fin del menu superior -->
  <!-- Vertically centered modal -->
  <!--<div class="" *ngIf="modalSwitch == true" >-->
  <ng-template #formLogin let-modal>
    <app-login></app-login>
  </ng-template>
  <!--</div>-->
