<!-- Ficha Proyectos -->
<div class="card mat-card" id="sixth-card">
  <div id="fichaProyectos" class="ficha">
    <h1 class="tituloFicha tituloProyectos">Mis Proyectos
      <span *ngIf="isLogged" (click)="open(contAltaProyecto)">
        <a *ngIf="isLogged" href="#" class="btn-plus" title="Agregar Proyecto..."
          ><i class="fas fa-plus-circle"></i
        ></a>
      </span>
    </h1>

    <div id="contBloquesProyectos" class="contBloquesProyectos" *ngFor="let proyecto of listaProyectos;let i=index">
      <!-- <span [(ngModel)]="binding"></span> -->
      <span *ngIf="i > 0"><hr class="separador-proyecto" /></span>

      <div id="text-proyectos-2" class="contIndividual-proyecto col-md-12">
        <div class="contInfo-proyecto grow1_ col-md-11">
          <h5 id="" class="nombreProyecto"> {{ proyecto.nombreProy }}
            <span *ngIf="!urlVacia(proyecto.urlGithub)">- <a href="{{ proyecto.urlGithub }}" target="_blank" >
              <i class="fab fa-github iconos1"></i></a>
            </span>

            <span *ngIf="!urlVacia(proyecto.urlPropia)">- <a href="{{ proyecto.urlPropia }}" target="_blank" >
              <i class="fa-solid fa-globe iconos1"></i></a>
            </span>
          </h5>
          <div class="fecha-proyecto"><b>Año del proyecto: </b>{{ proyecto.fechaProy }}</div>
          <div class="tecnologias-proyecto">
            <b><i>{{ proyecto.tecnologia }}</i></b>
          </div>
          <div class="descripcion-proyecto">
            {{ proyecto.descripcion }}
          </div>

        </div>

        <div *ngIf="isLogged" class="contBtn-proyectos col-md-1 centrar-h">

          <div class="btn-edit lapizAlLado" (click)="openEditar(proyecto.idProyecto, contModifProyecto)" >
            <a href="#" class="btn-right" title="Modificar Proyecto...">
              <i class="fa fa-pen"></i>
            </a>
          </div>
          <div class="btn-delete lapizAlLado" (click)="openBorrar(proyecto.idProyecto, contBorrarProyecto)">
            <a href="#" class="btn-right" title="Eliminar Proyecto...">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
<!-- {{ proyecto.idProyecto +" ** "+ idProyectoBorrar }} -->
      </div>



      <app-imagen-proyecto [proyectoActual]="proyecto" [indice]="i" ></app-imagen-proyecto>







    </div>

    <ng-template #contAltaProyecto let-modal>
      <app-form-proyecto-alta></app-form-proyecto-alta>
    </ng-template>

    <ng-template #contModifProyecto let-modal>
      <app-form-proyecto-modif></app-form-proyecto-modif>
    </ng-template>

    <ng-template #contBorrarProyecto let-modal>
      <app-form-proyecto-baja></app-form-proyecto-baja>
    </ng-template>

    <!-------------------------------------------------->
    <!-- <ng-template #contAgregarImgProyecto let-modal>
      <app-form-img-proyecto-alta></app-form-img-proyecto-alta>
    </ng-template> -->

    <!-- {{ listaProyectos | json }} -->
  </div>
</div>
